{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<section class="main-section">
    <h2>Bem-vindo(a)</h2>
    <p>Se você é um estudante de humanas que deseja explorar o potencial da programação em suas pesquisas, o Laboratório de Letras está aqui para ajudá-lo a dar os primeiros passos nessa emocionante jornada rumo ao conhecimento. Entre em contato conosco hoje mesmo e descubra como podemos colaborar para o sucesso do seu projeto acadêmico.
    </p>
</section>
{% endblock %}
